<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autores</title>
  </head>
  <body>
    <button [routerLink]="['']" class="btn m-5 voltar">
      <i class="fa fa-solid fa-angle-left mr-1"></i>
    </button>

    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <table style="margin: 0 auto">
              <tr>
                <td><h1>AUTORES</h1></td>
                <td>
                  <button
                    data-toggle="modal"
                    data-target="#criaAutor"
                    class="btn btn-primary add"
                  >
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </table>
            <div *ngIf="autoresForm" class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="text-center">
                    <th>AUTOR</th>
                    <th>BIOGRAFIA</th>
                    <th>EDITAR</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let autor of autores">
                    <td class="text-center align-middle border border-primary">
                      {{ autor.nome }}
                    </td>
                    <td class="text-center align-middle border border-primary">
                      {{ autor.biografia }}
                    </td>
                    <td class="text-center align-middle border border-primary">
                      <a
                        class="btn btn-link"
                        data-toggle="modal"
                        data-target="#alteraAutor"
                        (click)="
                          marcaAlterar(autor.id, autor.nome, autor.biografia)
                        "
                      >
                        <i class="fa fa-solid fa-pencil fa-lg text-primary"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <span *ngIf="!autores?.length">
                <h5
                  class="text-danger font-weight-bold text-left mb-3 text-center"
                >
                  Nenhum autor cadastrado :c
                </h5>
              </span>

              <validacao-erro
                *ngIf="autorAlteradoComSucesso"
                type="success"
                [top]="true"
                >Autor alterado com sucesso</validacao-erro
              >
              <validacao-erro
                *ngIf="autorCadastradoComSucesso"
                type="success"
                [top]="true"
                >Autor criado com sucesso</validacao-erro
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- Modal Alteração -->

<div
  class="modal fade"
  id="alteraAutor"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Altera Autor</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form [formGroup]="marcaAutorAlterarForm">
          <div class="md-form mt-5 mb-5">
            <label for="nome">Nome do Autor</label>
            <input
              id="nome"
              formControlName="nome"
              type="text"
              class="form-control"
              placeholder="Nome"
              autofocus
            />
            <label class="mt-2" for="biografia">Biografia</label>
            <input
              id="biografia"
              formControlName="biografia"
              type="text"
              class="form-control"
              placeholder="Biografia"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          id="fechaModalAlteracao"
          data-dismiss="modal"
        >
          Fechar
        </button>
        <button
          (click)="alterar()"
          type="button"
          class="btn btn-success"
          type="submit"
        >
          Alterar Autor
        </button>
      </div>
      <validacao-erro *ngIf="erroCadastrarAutor" type="danger" [top]="true"
        >Ocorreu um erro ao alterar o o autor</validacao-erro
      >
    </div>
  </div>
</div>

<!-- Modal Cria Autores -->

<div
  class="modal fade"
  id="criaAutor"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Criação de Autor</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form [formGroup]="autoresForm">
          <div class="md-form mt-5 mb-5">
            <label for="nome">Nome do Autor</label>
            <input
              id="nome"
              formControlName="nome"
              type="text"
              class="form-control"
              placeholder="Nome"
              autofocus
            />
            <msg-validacao
              *ngIf="autoresForm.get('nome')?.errors?.['required']"
            >
              Nome do Autor é obrigatorio!
            </msg-validacao>
            <msg-validacao
              *ngIf="autoresForm.get('nome')?.errors?.['maxLength']"
            >
              Nome do Autor deve ter no máximo 100 caracteres!
            </msg-validacao>
            <label class="mt-2" for="biografia">Biografia</label>
            <input
              id="biografia"
              formControlName="biografia"
              type="text"
              class="form-control"
              placeholder="Biografia"
            />
            <msg-validacao
              *ngIf="autoresForm.get('biografia')?.errors?.['required']"
            >
              Biografia é obrigatoria!
            </msg-validacao>
            <msg-validacao
              *ngIf="autoresForm.get('biografia')?.errors?.['maxlength']"
            >
              Biografia deve ter no máximo 1000 caracteres!
            </msg-validacao>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          id="fechaModalCriacao"
          data-dismiss="modal"
        >
          Fechar
        </button>
        <button
          (click)="cadastraAutor()"
          type="button"
          class="btn btn-success"
          type="submit"
        >
          Cadastrar Autor
        </button>
      </div>
      <validacao-erro *ngIf="erroCadastrarAutor" type="danger" [top]="true"
        >Ocorreu um erro ao criar o autor</validacao-erro
      >
    </div>
  </div>
</div>
