<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autores</title>
  </head>
  <body>
    <button [routerLink]="['']" class="btn m-5 voltar">
      <i class="fa fa-solid fa-angle-left mr-1"></i>
    </button>
    <section>
      <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-6">
            <div class="card rounded-3">
              <table style="margin: 0 auto">
                <tr>
                  <td><h1>AUTORES</h1></td>
                  <td>
                    <button
                      [routerLink]="['/cria-autores']"
                      class="btn btn-primary add"
                    >
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </table>
              <div *ngIf="autoresForm" class="table-responsive">
                <table class="table">
                  <thead>
                    <tr class="text-center">
                      <th>Autor</th>
                      <th>Biografia</th>
                      <th>AÇÕES</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let autor of autores">
                      <td
                        class="text-center align-middle border border-primary"
                      >
                        {{ autor.nome }}
                      </td>
                      <td
                        class="text-center align-middle border border-primary"
                      >
                        {{ autor.biografia }}
                      </td>
                      <td
                        class="text-center align-middle border border-primary"
                      >
                        <a
                          class="btn btn-link"
                          data-toggle="modal"
                          data-target="#alteraAutor"
                          (click)="
                            marcaAlterar(autor.id, autor.nome, autor.biografia)
                          "
                        >
                          <i class="fa fa-solid fa-pencil icones"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

<!-- Modal Alteração -->

<div
  class="modal fade"
  id="alteraAutor"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Alterar de Tarefa</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form [formGroup]="marcaAutorAlterarForm">
          <div class="md-form mt-5 mb-5">
            <label for="nome">Nome do Autor</label>
            <input
              id="nome"
              formControlName="nome"
              type="text"
              class="form-control"
              placeholder="Nome"
              autofocus
            />
            <label class="mt-2" for="biografia">Biografia</label>
            <input
              id="biografia"
              formControlName="biografia"
              type="text"
              class="form-control"
              placeholder="Biografia"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          id="fechaModalAlteracao"
          data-dismiss="modal"
        >
          Fechar
        </button>
        <button
          (click)="alterar()"
          type="button"
          class="btn btn-success"
          type="submit"
        >
          Alterar Autor
        </button>
      </div>
    </div>
  </div>
</div>
