<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autores</title>
  </head>
  <body>
    <button [routerLink]="['']" class="btn m-5 voltar">
      <i class="fa fa-solid fa-angle-left mr-1"></i>
    </button>
    <section class="h-100 h-custom">
      <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-6">
            <div class="card rounded-3">
              <table style="margin: 0 auto">
                <tr>
                  <td><h1>AUTORES</h1></td>
                  <td>
                    <button
                      [routerLink]="['/cria-autores']"
                      class="btn btn-primary add"
                    >
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </table>
              <div *ngIf="autoresForm" class="table-responsive">
                <table class="table">
                  <thead>
                    <tr class="text-center">
                      <th>Autor</th>
                      <th>Biografia</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let autor of autores">
                      <td
                        class="text-center align-middle border border-primary"
                      >
                        {{ autor.nome }}
                      </td>
                      <td
                        class="text-center align-middle border border-primary"
                      >
                        {{ autor.biografia }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
