<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Cadastrar Autor</title>
  </head>
  <body>
    <button [routerLink]="['/autores']" class="btn m-5 voltar">
      <i class="fa fa-solid fa-angle-left mr-1"></i>
    </button>
    <section class="text-center">
      <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-6">
            <div class="card rounded-5">
              <div class="card-body p-3 p-md-3">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">
                  Cadastrar Autor:
                </h3>

                <form class="text-center" [formGroup]="autoresForm">
                  <div
                    class="row d-flex justify-content-center align-items-center h-100"
                  >
                    <div class="px-md-2">
                      <div class="form-outline mb-4">
                        <label class="form-label" for="nome">Nome :</label>
                        <input
                          name="nome"
                          formControlName="nome"
                          type="text"
                          class="form-control"
                          placeholder="Nome do autor"
                          autofocus
                        />
                        <label class="form-label mt-2" for="Biografia"
                          >Biografia:</label
                        >
                        <textarea
                          style="width: 350px"
                          cols="5"
                          rows="5"
                          type="text"
                          id="Biografia"
                          class="form-control"
                          placeholder="Insira aqui a Biografia"
                          formControlName="biografia"
                        ></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="text-center">
                    <button
                      type="submit"
                      class="btn btn-success btn-lg mb-1 cadastrar"
                      (click)="cadastraAutor()"
                    >
                      <span>Cadastrar</span>
                    </button>
                  </div>
                  <validacao-erro
                    *ngIf="sucesso && botaoAtivo == true"
                    type="success"
                    [top]="true"
                    >Autor cadastrado com sucesso</validacao-erro
                  >
                  <validacao-erro
                    *ngIf="erro && botaoAtivo == true"
                    type="danger"
                    [top]="true"
                    >Ocorreu um erro ao cadastrar o o autor</validacao-erro
                  >
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
