<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Cadastrar Autor</title>
  </head>
  <body>
    <button [routerLink]="['/livros']" class="btn m-5 voltar">
      <i class="fa fa-solid fa-angle-left mr-1"></i>
    </button>
    <section class="text-center">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-6">
            <div class="card rounded-5">
              <div class="card-body p-3 p-md-3">
                <h3 class="mb-4 pb-2 pb-md-0 px-md-2">Cadastrar Livro:</h3>

                <form
                  class="text-center"
                  [formGroup]="livrosForm || idAutoresForm"
                >
                  <div
                    class="row d-flex justify-content-center align-items-center h-100"
                  >
                    <div class="px-md-2">
                      <div class="form-outline mb-4">
                        <label class="form-label pt-1" for="titulo"
                          >Titulo :</label
                        >
                        <input
                          type="text"
                          id="titulo"
                          class="form-control mb-3"
                          placeholder="Título do livro"
                          formControlName="titulo"
                        />
                        <msg-validacao
                          *ngIf="livrosForm.get('titulo')?.errors?.['maxLength']"
                        >
                          Titulo deve ter no maximo 200 caracteres!
                        </msg-validacao>
                        <msg-validacao
                          *ngIf="livrosForm.get('titulo')?.errors?.['required']"
                        >
                          Titulo é obrigatorio!
                        </msg-validacao>
                        <msg-validacao
                          *ngIf="livrosForm.get('titulo')?.errors?.['minLength']"
                        >
                          Titulo deve ter no minimo 1 caracteres!
                        </msg-validacao>
                        <label class="form-label" for="anoLancamento"
                          >Ano Lançamento :</label
                        >
                        <input
                          type="text"
                          id="anoLancamento"
                          class="form-control mb-3"
                          placeholder="Ano Lançamento"
                          formControlName="anoLancamento"
                        />
                        <msg-validacao
                          *ngIf="livrosForm.get('anoLancamento')?.errors?.['minLength']"
                        >
                          O ano deve deve ter 4 caracteres!
                        </msg-validacao>
                        <msg-validacao
                          *ngIf="livrosForm.get('anoLancamento')?.errors?.['maxLength']"
                        >
                          O ano deve deve ter 4 caracteres!
                        </msg-validacao>
                        <msg-validacao
                          *ngIf="livrosForm.get('titulo')?.errors?.['required']"
                        >
                          Ano lançamento é obrigatorio!
                        </msg-validacao>

                        <div>
                          <label class="form-label" for="idAutor"
                            >Id Autor:</label
                          >
                          <input
                            type="text"
                            id="idAutor"
                            class="form-control mb-3"
                            placeholder="Id do Autor"
                            formControlName="autoresIds"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="text-center">
                    <button
                      type="submit"
                      class="btn btn-success btn-lg mb-1 cadastrar"
                      (click)="cadastraLivro()"
                    >
                      <span>Cadastrar</span>
                    </button>
                  </div>
                </form>
                <validacao-erro
                  *ngIf="livroCadastradoComSucesso"
                  type="success"
                  [top]="true"
                  >Livro Cadastrado com sucesso ></validacao-erro
                >
                <validacao-erro
                  *ngIf="erroCadastrarLivro"
                  type="danger"
                  [top]="true"
                  >Ocorreu um erro ao cadastrar o livro</validacao-erro
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
