<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autores</title>
  </head>
  <body>
    <button [routerLink]="['']" class="btn m-5 voltar">
      <i class="fa fa-solid fa-angle-left mr-1"></i>
    </button>
    <section>
      <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-6">
            <div class="card rounded-3">
              <table style="margin: 0 auto">
                <tr>
                  <td><h1>LIVROS</h1></td>
                  <td>
                    <button
                      data-toggle="modal"
                      data-target="#criaLivro"
                      class="btn btn-primary botao"
                    >
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </table>
              <div *ngIf="livroForm" class="table-responsive">
                <table class="table">
                  <thead>
                    <tr class="text-center">
                      <th>Titulo</th>
                      <th>Ano Lançamento</th>
                      <th>Autores</th>
                      <th>Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let livro of livros">
                      <td
                        class="text-center align-middle border border-primary"
                      >
                        {{ livro.titulo }}
                      </td>
                      <td
                        class="text-center align-middle border border-primary"
                      >
                        {{ livro.anoLancamento }}
                      </td>
                      <td
                        class="text-center align-middle border border-primary"
                      >
                        {{ livro.autoresIds }}
                      </td>

                      <td
                        class="text-center align-middle border border-primary"
                      >
                        <a
                          class="btn btn-link"
                          data-toggle="modal"
                          data-target="#alteraLivro"
                          (click)="
                            marcaAlterar(
                              livro.id,
                              livro.titulo,
                              livro.anoLancamento,
                              autoresId
                            )
                          "
                        >
                          <i
                            class="fa fa-solid fa-pencil fa-lg text-primary"
                          ></i>
                        </a>
                        <a
                          class="btn btn-link"
                          data-toggle="modal"
                          data-target="#removerLivro"
                          (click)="modalRemoveLivro(livro.id, livro.titulo)"
                        >
                          <i class="fa fa-solid fa-trash fa-lg text-danger"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <span *ngIf="!livros?.length">
                  <h5
                    class="text-danger font-weight-bold text-left mb-3 text-center"
                  >
                    Nenhum livro cadastrado :c
                  </h5>
                </span>

                <validacao-erro
                  *ngIf="livroAlteradoComSucesso"
                  type="success"
                  [top]="true"
                  >Livro Alterado com sucesso
                </validacao-erro>
                <validacao-erro
                  *ngIf="livroExcluidaComSucesso"
                  type="success"
                  [top]="true"
                  >Livro Excluido com sucesso</validacao-erro
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

<!-- Modal Alteração -->

<div
  class="modal fade"
  id="alteraLivro"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Alterar Livro</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form [formGroup]="marcaLivroAlterarForm">
          <div class="md-form mt-5 mb-5">
            <label for="titulo">Titulo:</label>
            <input
              id="titulo"
              formControlName="titulo"
              type="text"
              class="form-control"
              placeholder="Titulo"
              autofocus
            />
            <label class="mt-2" for="anoLancamento">Ano lançamento:</label>
            <input
              id="anoLancamento"
              formControlName="anoLancamento"
              type="text"
              class="form-control"
              placeholder="Ano Lançamento"
            />
            <label class="mt-2" for="autoresIds">ID dos Autores:</label>
            <input
              id="autoresIds"
              formControlName="autoresIds"
              type="text"
              class="form-control"
              placeholder="Id do Autor"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          id="fechaModalAlteracao"
          data-dismiss="modal"
        >
          Fechar
        </button>
        <button
          (click)="alterar()"
          type="button"
          class="btn btn-success"
          type="submit"
        >
          Alterar Livro
        </button>
      </div>
      <validacao-erro *ngIf="erroAlterarLivro" type="danger" [top]="true"
        >Ocorreu um erro ao alterar o livro</validacao-erro
      >
    </div>
  </div>
</div>

<!-- Modal Criação -->

<div
  class="modal fade"
  id="criaLivro"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Cadastrar Livro</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form [formGroup]="livroForm">
          <div class="md-form mt-5 mb-5">
            <label for="titulo">Titulo:</label>
            <input
              id="titulo"
              formControlName="titulo"
              type="text"
              class="form-control"
              placeholder="Titulo"
              autofocus
            />
            <msg-validacao
              *ngIf="livroForm.get('titulo')?.errors?.['required']"
            >
              Titulo é obrigatorio!
            </msg-validacao>
            <msg-validacao
              *ngIf="livroForm.get('titulo')?.errors?.['minLength']"
            >
              O titulo deve ter no minimo 1 caracter!
            </msg-validacao>
            <msg-validacao
              *ngIf="livroForm.get('titulo')?.errors?.['maxLength']"
            >
              O titulo deve deve ter no maximo 200 caracteres!
            </msg-validacao>

            <label class="mt-2" for="anoLancamento">Ano lançamento:</label>
            <input
              id="anoLancamento"
              formControlName="anoLancamento"
              type="text"
              class="form-control"
              placeholder="Ano Lançamento"
            />
            <msg-validacao
              *ngIf="livroForm.get('anoLancamento')?.errors?.['minLength']"
            >
              O ano deve deve ter 4 caracteres!
            </msg-validacao>
            <msg-validacao
              *ngIf="livroForm.get('anoLancamento')?.errors?.['maxLength']"
            >
              O ano deve deve ter 4 caracteres!
            </msg-validacao>
            <msg-validacao
              *ngIf="livroForm.get('anoLancamento')?.errors?.['required']"
            >
              Ano lançamento é obrigatorio!
            </msg-validacao>

            <label class="mt-2" for="autoresIds">ID dos Autores:</label>
            <input
              id="autoresIds"
              formControlName="autoresIds"
              type="text"
              class="form-control"
              placeholder="Id do Autor"
            />
            <msg-validacao
              *ngIf="livroForm.get('autoresIds')?.errors?.['required']"
            >
              ID do autor é obrigatorio!
            </msg-validacao>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          id="fechaModalCriacao"
          data-dismiss="modal"
        >
          Fechar
        </button>
        <button
          (click)="cadastraLivro()"
          type="button"
          class="btn btn-success"
          type="submit"
        >
          Cadastrar Livro
        </button>
      </div>
      <validacao-erro *ngIf="erroCadastrarLivro" type="danger" [top]="true"
        >Ocorreu um erro ao cadastrar o livro</validacao-erro
      >
    </div>
  </div>
</div>

<!-- Modal Remoção Livro  -->

<div class="modal" tabindex="-1" id="removerLivro">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Remover Livro</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          id="botaoFecharRemoveLivro"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <p>
          Deseja excluir o livro: <strong>{{ nomeLivro }}</strong>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">
          Cancelar
        </button>
        <button
          (click)="excluir()"
          type="button"
          class="btn btn-danger"
          id="botaoRemoverLivro"
        >
          Excluir
        </button>
      </div>
      <validacao-erro *ngIf="erroExcluirLivro" type="success" [top]="true"
        >Livro Alterado com sucesso
      </validacao-erro>
    </div>
  </div>
</div>
