body{
  background-image: url(/assets/biblioteca-blur.jpg);
  height: 100vh;
  background-repeat:no-repeat;
  background-size: cover;
  margin:-8px;
  overflow-x: none;
}

button{
  cursor: pointer;
  background-color: aquamarine;
  color: black;
  font-size: 25px;
  border-radius: 50%;
  border: none;
  display: inline;
  margin-left: 33px;
  padding-bottom: 40px;
  padding-left: 10px;
  width: 40px;
  height: 50px;
}

